In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import pandas as pd
import requests

In [2]:
def web_search(soup, sw):
    df = pd.DataFrame()
    movie_title=[]
    movie_point=[]

    for line in soup.findAll('div', class_='title_box'):
        title = line.find('strong', class_='name') 
        if title :
            movie_title.append(title.get_text().strip('\n'))
        
        point = line.find('span', class_='sub_text')
        if point :
            movie_point.append(point.get_text())
    df['Title'] = movie_title
    if sw == 1:
        df['Customer'] = movie_point
    else:
        df['Point'] = movie_point
    return df

In [3]:
url = 'https://search.naver.com/search.naver?where=nexearch'
url += '&query=현재상영영화순위&ie=utf8&sm=tab_she&qdt=0'

driver = webdriver.Chrome()
time.sleep(1)
driver.get(url)
xpath ='//*[@id="main_pack"]/div[2]/div[2]/div/div/div[1]/div/div/ul/li[1]'
items = driver.find_element(By.XPATH, xpath)
items.click()
time.sleep(1)
soup = BeautifulSoup(driver.page_source)
df1 = web_search(soup, 1)

xpath ='//*[@id="main_pack"]/div[2]/div[2]/div/div/div[1]/div/div/ul/li[2]'
items = driver.find_element(By.XPATH, xpath)
items.click()
time.sleep(1)
df2 = web_search(soup, 2)

driver.quit()

In [4]:
merge_df = pd.merge(df1, df2, on='Title')
df = merge_df[merge_df['Customer'] != merge_df['Point']].drop_duplicates('Title')
df

                 Title Customer Point
1   가디언즈 오브 갤럭시: Vo...     25만명  9.42
5          슈퍼 마리오 브라더스    8.6만명  8.46
9   극장판 짱구는 못말려: 동물...    5.1만명  8.84
13                  드림    1.7만명  7.14
17            스즈메의 문단속    1.6만명  8.09
21              문재인입니다    1.1만명  9.15
25               존 윅 4      1만명  8.40
29             너의 이름은.   7,133명  9.01
33          더 퍼스트 슬램덩크   5,454명  9.27
37                  롱디   5,288명  9.71
41               옥수역귀신   5,011명  6.97
46                스트리머   2,681명  7.52
51              날씨의 아이   1,382명  8.39
55           거울 속 외딴 성   1,363명  8.49
61                리바운드     669명  8.48
65             토리와 로키타     633명  7.78
70    조제, 호랑이 그리고 물고기들     498명  8.16
74              킬링 로맨스     494명  7.71
78                 클로즈     369명  8.12
84           항구의 니쿠코짱!     272명  8.15

In [5]:
text='''Yesterday
All my troubles seemed so far away
Now it looks as though they're here to stay
Oh, I believe in yesterday
Suddenly
I'm not half the man I used to be
There's a shadow hanging over me
Oh, yesterday came suddenly
Why she had to go, I don't know
She wouldn't say
I said something wrong
Now I long for yesterday
Yesterday
Love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday
Why she'''

In [7]:
request_url = "https://openapi.naver.com/v1/papago/n2mt"
headers = {"X-Naver-Client-Id": "eTqvqKDC9VE9dXkx3MT4", 
           "X-Naver-Client-Secret": "MJswzT_0Es" }
params =  {"source":"en", 'target':'en', 'text': 'text'}

response = requests.post(request_url, headers=headers, data=params)
print(type(response.text))

print(response.text)
print(response.json())

<class 'str'>
{"errorCode":"N2MT05","errorMessage":"source and target must be different (source와 target이 동일합니다.)"}
{'errorCode': 'N2MT05', 'errorMessage': 'source and target must be different (source와 target이 동일합니다.)'}